body {
  font-family: Arial, sans-serif;
  margin: 10px;
  background: #f6f3f1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  font-size: 14px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

th {
  background: #a88976;
  color: white;
}

button {
  font-size: 12px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 2px;
}

form input,
form select {
  padding: 5px;
  margin: 2px;
  width: 140px;
  font-size: 13px;
}

h1, h2, h3 {
  margin: 8px 0;
}
/* Fila verde para orden pagada */
.orden-pagada {
  background-color: #d4edda; /* verde clarito */
}
