.carrito-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.img-item {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

.info {
  flex: 1;
  display: flex;
  justify-content: space-between; /* nombre a la izquierda, precio a la derecha */
  align-items: center;
}

.info h3 {
  margin: 0;
  font-size: 20px;
  color: #5a4338;
}

.info .precio {
  font-size: 20px;
  font-weight: bold;
  color: #7a5f52;
}

/* responsive */
@media (max-width: 768px) {
  .carrito-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .img-item {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .info h3,
  .info .precio {
    display: block;
    text-align: center;
  }
}


@media (max-width: 768px) {
  .carrito-box {
    justify-content: center;
    margin: 60px auto 20px auto;
    gap: 8px;
    width: 100%;
    max-width: 850px;
    padding: 25px;
    border-radius: 12px;
  }
}
