.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
    padding: 20px;
}

.card-producto {
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    padding: 15px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-producto img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card-producto:hover {
    transform: translateY(-5px);
}

.precio {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
    color: #7a5d5a;
}

button {
    margin-top: auto;
    padding: 10px 15px;
    border: none;
    background: #7a5d5a;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #5a423f;
}
