/* MOBILE FIRST */
.productos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas en celular */
  gap: 16px;
  padding: 12px;
}

/* Tablet */
@media (min-width: 768px) {
  .productos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .productos-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


.card-producto {
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    padding: 15px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-producto img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card-producto:hover {
    transform: translateY(-5px);
}

.precio {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
    color: #7a5d5a;
}

button {
    margin-top: auto;
    padding: 10px 15px;
    border: none;
    background: #7a5d5a;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #5a423f;
}

button, .btn {
  background: #a88976;
  color: white;
  border-radius: 30px;
  padding: 12px 22px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: .2s;
}

button:hover, .btn:hover {
  opacity: .85;
}
